* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

.hoten {
  width: 250px;
  background-color: black;
  color: #fff;
  animation-name: example;
  position: relative;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  padding: 15px;
  margin: 4% 20%;
  text-align: center;
  border-radius: 40px;
}

.ten {
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: relative;
  padding: 5px;
  margin-left: 35%;
  animation-name: example2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red; left: 15px; top: 15px;
    }

    25% {
        background-color: orange; left: 500px; top: 15px;
    }

    50% {
        background-color: yellow; left: 500px; top: 500px;
    }

    75% {
        background-color: blue; left: 15px; top: 500px;
    }

    100% {
      background-color: purple; left: 15px; top: 15px;
    }
}

@keyframes example2 {
  0% {
      background-color: greenyellow; left: 15px; top: 15px;
  }

  25% {
      background-color: red; left: 200px; top: 15px;
  }

  50% {
      background-color: yellow; left: 200px; top: 200px;
  }

  75% {
      background-color: black; left: 15px; top: 200px;
  }

  100% {
    background-color: dodgerblue; left: 15px; top: 15px;
  }
}

@media screen and (max-width: 768px){
    .hoten {
      width: 100px;
    }

    .ten {
      margin-left: 5px;
    }

    @keyframes example {
      0% {
          background-color: greenyellow; left: 5px; top: 5px;
      }
    
      25% {
          background-color: red; left: 200px; top: 5px;
      }
    
      50% {
          background-color: yellow; left: 200px; top: 200px;
      }
    
      75% {
          background-color: black; left: 5px; top: 200px;
      }
    
      100% {
        background-color: dodgerblue; left: 5px; top: 5px;
      }
    }

    @keyframes example2 {
      0% {
          background-color: greenyellow; left: 5px; top: 5px;
      }
    
      25% {
          background-color: red; left: 200px; top: 5px;
      }
    
      50% {
          background-color: yellow; left: 200px; top: 200px;
      }
    
      75% {
          background-color: black; left: 55px; top: 200px;
      }
    
      100% {
        background-color: dodgerblue; left: 55px; top: 5px;
      }
    }
}
